:host {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;

    nav {
        display: flex;
        flex-direction: row;
        padding: 0px 10px;
        background-color: var(--p-3);
        border-bottom: 1px solid var(--p-8);
        color: var(--p-8);
        a {
            text-decoration: none;
            padding: 5px;
            color: black;

            &.here {
                background-color: var(--p-7);
                color: var(--p-1);
            }
        }
    }
}