/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--p-0);

    --primary: rgb(114, 27, 114);
    --p-0: color-mix(in srgb, var(--primary) 10%, white 90%);
    --p-1: color-mix(in srgb, var(--primary) 30%, white 70%);
    --p-2: color-mix(in srgb, var(--primary) 50%, white 50%);
    --p-3: color-mix(in srgb, var(--primary) 70%, white 30%);
    --p-4: color-mix(in srgb, var(--primary) 90%, white 10%);
    --p-5: var(---primary);
    --p-10: color-mix(in srgb, var(--primary) 50%, black 50%);
    --p-9: color-mix(in srgb, var(--primary) 70%, black 30%);
    --p-8: color-mix(in srgb, var(--primary) 90%, black 10%);
    --p-7: color-mix(in srgb, var(--primary) 90%, black 10%);
    --p-6: color-mix(in srgb, var(--primary) 90%, black 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
