<div class="title-area">
  <app-title
    caption ="Our amazing Notepad app"
    [color]="selectedColor()"
    />
</div>
<div class="colors-area">
  @for(item of colors(); track item) {
    <div class="item" 
      [class.chosen]="item === selectedColor()"
      (click)="changeColor(item)"
      >{{item}}</div>
  }
</div>

<div class="sizes-area">
  @for(item of sizes(); track item) {
    <div class="item" 
      [class.chosen]="item === selectedSize()"
      (click)="changeSize(item)"
      >{{item}}</div>
  }
</div>

<div class="fonts-area">
  @for(item of fonts(); track item) {
    <div class="item" 
      [class.chosen]="item === selectedFont()"
      (click)="changeFont(item)"
      >{{item}}</div>
  }
</div>

<div class="text-area">
  <textarea 
    [style.color]="selectedColor"
    [style.fontSize]="selectedSize"
    [style.fontFamily]="selectedFont"
    ></textarea>
</div>