<div class="title-area">
  <app-title
    caption ="Our amazing Notepad app"
    [color]="selectedColor()"
    />
</div>
<div class="colors-area">
  <app-string-selector 
    [options]="colors()"
    [selectedOption]="selectedColor()"
    (selectedOptionChange)="changeColor($event)"
    />
</div>

<div class="sizes-area">
  <app-string-selector 
    [options]="sizes()"
    [(selectedOption)]="selectedSize"
    />
</div>

<div class="fonts-area">
  <app-string-selector 
    [options]="fonts()"
    [(selectedOption)]="selectedFont"
    />
</div>

<div class="text-area">
  <textarea 
    [style.color]="selectedColor()"
    [style.fontSize]="selectedSize()"
    [style.fontFamily]="selectedFont()"
    ></textarea>
</div>